class {
  onInput(input) {
    this.state = {
      current: input.current,
      devices: input.devices,
    }
  }

  changeDevice(idx) {
    this.state.current = idx
    this.emit('device-change', idx)
  }
}

ul class="uk-nav-primary uk-nav-parent-icon" uk-nav
  for|id, device| in=state.devices
    li key=`${id}` class=(state.current == id ? 'uk-active' : '')
      a href=`#${id}` on-click('changeDevice', id) -- ${device.name}
