# LaTeX
*.aux
*.lb
*.log
*.nav
*.out
*.pdf
*.snm
*.synctex.gz
*.synctex.gz(busy)
*.toc
*.watcher_pid
*.fls
*.fdb_latexmk
*.vrb
*.bbl
*.blg
*.bcf
*.run.xml
*.xdv
*.lof
*.lol
*.lot
*.locode

#FaaS
faas
functions/build
functions/ui/*

node_modules

!tex/assets/*.pdf
