div.slider-date
div.dates
  div
    span -- Begin:
    span -- ${state.start}
  div
    span -- End:
    span -- ${state.end}
button.uk-button.uk-button-primary.update-data style='float:right;' on-click('updateInterval') -- Update
